ipdb==0.13.9
numpy==1.21.2
pandas==1.3.5
Pillow==9.0.1
plotly==5.6.0
protobuf==3.12.2
pytorchcv==0.0.67
recommonmark==0.7.1
requests==2.25.1
rich==12.0.0
scipy==1.8.0
tabulate==0.8.9
tensorboardX==2.5
tensorflow==2.8.0
torchvision==0.11.0
torchviz==0.0.2
tqdm==4.61.2
git+https://gitee.com/hustzxd/pytorch_gradual_warmup_lr.git
